@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
    font-family: 'Nanum Myeongjo', serif;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

nav ul > li {
    display: inline-block;
    margin: 10px;
}

nav li > a {
    display: block;
    text-decoration: none;
    color: rgb(36, 41, 98);
    padding: 15px;
    font-weight: bolder;
}

nav li > a:hover, nav li > a:active{
    color: rgb(89, 44, 226);
}

h1 {
    color: rgb(36, 41, 98);
    text-align: center;
    font-size: 3em;
}

form {
    padding: 5px;
    margin: auto;
    text-align: left;
}

label {
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
}

h2 {
    font-size: 2em;
    color: rgb(36, 41, 98);
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(36, 41, 98);
    color: white;
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: 0.15em;
}

button:hover {
    background-color: rgb(89, 44, 226);;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img {
    max-width: 100%;
    grid-column: 1;
}

