@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
    font-family: 'Nanum Myeongjo', serif;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

nav ul > li {
    display: inline-block;
    margin: 10px;
}

nav li > a {
    display: block;
    text-decoration: none;
    color: rgb(36, 41, 98);
    padding: 15px;
    font-weight: bolder;
}

nav li > a:hover, nav li > a:active{
    color: rgb(89, 44, 226);
}

h1 {
    color: rgb(36, 41, 98);
    text-align: center;
    font-size: 3em;
}

label {
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
}

h2 {
    font-size: 2em;
    color: rgb(36, 41, 98);
    margin-left: 6vw;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(36, 41, 98);
    color: white;
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: 0.15em;
}

button:hover {
    background-color: rgb(89, 44, 226);;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img {
    max-width: 100%;
    grid-column: 1;
}

a:hover, a:active, a:focus {
    color: rgb(89, 44, 226);
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 0.9em;
    gap: 20px;
    justify-content: center;
    margin: 5em;
}

main aside {
    grid-column: 1;
    grid-row: 1/5;
    max-width: 150px;
    max-height: 150px;
}

main section {
    grid-column: 2;
}

footer {
    margin: 4em;
}

footer a {
    padding: 0.5em;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 6vw;
    justify-content: center;
    gap: 20px;
}

.contact form {
    grid-column: 1;
}

.contact img {
    grid-column: 2;
    max-height: 30vh;
    max-width: 30vw;
}